<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zywork.dao.TicketOrderDetailDAO">

    <insert id="save" parameterType="ticketOrderDetailDO">
        insert into t_ticket_order_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ticketOrderId != null">
				ticket_order_id,
			</if>
			<if test="seat != null">
				seat,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="orderNo != null">
				order_no,
			</if>
			
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ticketOrderId != null">
				#{ticketOrderId},
			</if>
			<if test="seat != null">
				#{seat},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="updateTime != null">
				#{updateTime},
			</if>
			<if test="orderNo != null">
				#{orderNo},
			</if>
			
        </trim>
    </insert>

    <delete id="remove" parameterType="ticketOrderDetailDO">
        delete from t_ticket_order_detail where id = #{id}
    </delete>

    <delete id="removeById" parameterType="long">
        delete from t_ticket_order_detail where id = #{id}
    </delete>

    <delete id="removeByIds">
        delete from t_ticket_order_detail where id in
        <foreach item="id" collection="array" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="ticketOrderDetailDO">
        update t_ticket_order_detail
        <set>
            <if test="ticketOrderId != null">
				ticket_order_id = #{ticketOrderId},
			</if>
			<if test="seat != null">
				seat = #{seat},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="orderNo != null">
				order_no = #{orderNo},
			</if>
			
        </set>
        where id = #{id}
    </update>

    <update id="updateActiveStatus" parameterType="top.zywork.query.StatusQuery">
        update t_ticket_order_detail set is_active = #{status} where id = #{id}
    </update>

    <update id="updateActiveStatuses" parameterType="top.zywork.query.StatusQueries">
        update t_ticket_order_detail set is_active = #{status} where id in
        <foreach item="id" collection="ids" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <sql id="select_columns">
        id as id, ticket_order_id as ticketOrderId, seat as seat, create_time as createTime, update_time as updateTime, order_no as orderNo
    </sql>

    <sql id="query_where_clause">
        <if test="query != null and query.id != null">
			id = #{query.id}
		</if>
		<if test="query != null and query.ticketOrderId != null">
			and ticket_order_id = #{query.ticketOrderId}
		</if>
		<if test="query != null and query.seat != null and query.seat != ''">
			and seat like concat('%', #{query.seat}, '%')
		</if>
		<if test="query != null and query.createTimeStart != null and query.createTimeEnd == null">
			and create_time <![CDATA[ >= ]]> #{query.createTimeStart}
		</if>
		<if test="query != null and query.createTimeStart == null and query.createTimeEnd != null">
			and create_time <![CDATA[ <= ]]> #{query.createTimeEnd}
		</if>
		<if test="query != null and query.createTimeStart != null and query.createTimeEnd != null">
			and create_time <![CDATA[ >= ]]> #{query.createTimeStart} and create_time <![CDATA[ <= ]]> #{query.createTimeEnd}
		</if>
		<if test="query != null and query.updateTimeStart != null and query.updateTimeEnd == null">
			and update_time <![CDATA[ >= ]]> #{query.updateTimeStart}
		</if>
		<if test="query != null and query.updateTimeStart == null and query.updateTimeEnd != null">
			and update_time <![CDATA[ <= ]]> #{query.updateTimeEnd}
		</if>
		<if test="query != null and query.updateTimeStart != null and query.updateTimeEnd != null">
			and update_time <![CDATA[ >= ]]> #{query.updateTimeStart} and update_time <![CDATA[ <= ]]> #{query.updateTimeEnd}
		</if>
		<if test="query != null and query.orderNo != null and query.orderNo != ''">
			and order_no like concat('%', #{query.orderNo}, '%')
		</if>
		
    </sql>

    <select id="getById" parameterType="long" resultType="ticketOrderDetailDO">
        select
        <include refid="select_columns"/>
        from t_ticket_order_detail where id = #{id}
    </select>

    <select id="listAll" resultType="ticketOrderDetailDO">
        select
        <include refid="select_columns"/>
        from t_ticket_order_detail
        order by update_time desc, create_time desc
    </select>

    <select id="listPage" parameterType="top.zywork.query.PageQuery" resultType="ticketOrderDetailDO">
        select
        <include refid="select_columns"/>
        from t_ticket_order_detail
        order by
        <if test="sort != null and sort != ''">
            ${sort} ${order}
        </if>
        <if test="sort == null or sort == ''">
            update_time desc, create_time desc
        </if>
        limit #{beginIndex}, #{pageSize}
    </select>

    <select id="count" resultType="long">
        select count(*) from t_ticket_order_detail
    </select>

    <select id="listPageByCondition" resultType="ticketOrderDetailDO">
        select
        <include refid="select_columns"/>
        from t_ticket_order_detail
        <where>
            <include refid="query_where_clause"/>
        </where>
        order by
        <if test="pager.sort != null and pager.sort != ''">
            ${pager.sort} ${pager.order}
        </if>
        <if test="pager.sort == null or pager.sort == ''">
            update_time desc, create_time desc
        </if>
        limit #{pager.beginIndex}, #{pager.pageSize}
    </select>

    <select id="countByCondition" resultType="long">
        select count(*) from t_ticket_order_detail
        <where>
            <include refid="query_where_clause"/>
        </where>
    </select>

</mapper>
