<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zywork.dao.TicketItemDAO">

    <insert id="save" parameterType="ticketItemDO">
        insert into t_ticket_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
				title,
			</if>
			<if test="headImg != null">
				head_img,
			</if>
			<if test="playTime != null">
				play_time,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="unitPrice != null">
				unit_price,
			</if>
			<if test="playTimeStr != null">
				play_time_str,
			</if>
			<if test="priceB != null">
				price_b,
			</if>
			<if test="unitPriceB != null">
				unit_price_b,
			</if>
			<if test="priceC != null">
				price_c,
			</if>
			<if test="unitPriceC != null">
				unit_price_c,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">
				#{title},
			</if>
			<if test="headImg != null">
				#{headImg},
			</if>
			<if test="playTime != null">
				#{playTime},
			</if>
			<if test="price != null">
				#{price},
			</if>
			<if test="unitPrice != null">
				#{unitPrice},
			</if>
			<if test="playTimeStr != null">
				#{playTimeStr},
			</if>
			<if test="priceB != null">
				#{priceB},
			</if>
			<if test="unitPriceB != null">
				#{unitPriceB},
			</if>
			<if test="priceC != null">
				#{priceC},
			</if>
			<if test="unitPriceC != null">
				#{unitPriceC},
			</if>
			<if test="address != null">
				#{address},
			</if>
			<if test="description != null">
				#{description},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="updateTime != null">
				#{updateTime},
			</if>
			
        </trim>
    </insert>

    <delete id="remove" parameterType="ticketItemDO">
        delete from t_ticket_item where id = #{id}
    </delete>

    <delete id="removeById" parameterType="long">
        delete from t_ticket_item where id = #{id}
    </delete>

    <delete id="removeByIds">
        delete from t_ticket_item where id in
        <foreach item="id" collection="array" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="ticketItemDO">
        update t_ticket_item
        <set>
            <if test="title != null">
				title = #{title},
			</if>
			<if test="headImg != null">
				head_img = #{headImg},
			</if>
			<if test="playTime != null">
				play_time = #{playTime},
			</if>
			<if test="price != null">
				price = #{price},
			</if>
			<if test="unitPrice != null">
				unit_price = #{unitPrice},
			</if>
			<if test="playTimeStr != null">
				play_time_str = #{playTimeStr},
			</if>
			<if test="priceB != null">
				price_b = #{priceB},
			</if>
			<if test="unitPriceB != null">
				unit_price_b = #{unitPriceB},
			</if>
			<if test="priceC != null">
				price_c = #{priceC},
			</if>
			<if test="unitPriceC != null">
				unit_price_c = #{unitPriceC},
			</if>
			<if test="address != null">
				address = #{address},
			</if>
			<if test="description != null">
				description = #{description},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			
        </set>
        where id = #{id}
    </update>

    <update id="updateActiveStatus" parameterType="top.zywork.query.StatusQuery">
        update t_ticket_item set is_active = #{status} where id = #{id}
    </update>

    <update id="updateActiveStatuses" parameterType="top.zywork.query.StatusQueries">
        update t_ticket_item set is_active = #{status} where id in
        <foreach item="id" collection="ids" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <sql id="select_columns">
        id as id, title as title, head_img as headImg, play_time as playTime, play_time_str as playTimeStr, price as price, unit_price as unitPrice,price_b as priceB, unit_price_b as unitPriceB, price_c as priceC, unit_price_c as unitPriceC,address as address, description as description, create_time as createTime, update_time as updateTime
    </sql>

    <sql id="query_where_clause">
        <if test="query != null and query.id != null">
			id = #{query.id}
		</if>
		<if test="query != null and query.title != null and query.title != ''">
			and title like concat('%', #{query.title}, '%')
		</if>
		<if test="query != null and query.headImg != null and query.headImg != ''">
			and head_img like concat('%', #{query.headImg}, '%')
		</if>
		<if test="query != null and query.playTimeStart != null and query.playTimeEnd == null">
			and play_time <![CDATA[ >= ]]> #{query.playTimeStart}
		</if>
		<if test="query != null and query.playTimeStart == null and query.playTimeEnd != null">
			and play_time <![CDATA[ <= ]]> #{query.playTimeEnd}
		</if>
		<if test="query != null and query.playTimeStart != null and query.playTimeEnd != null">
			and play_time <![CDATA[ >= ]]> #{query.playTimeStart} and play_time <![CDATA[ <= ]]> #{query.playTimeEnd}
		</if>
		<if test="query != null and query.playTimeStr != null and query.playTimeStr != ''">
			and play_time_str like concat('%', #{query.playTimeStr}, '%')
		</if>
		<if test="query != null and query.price != null">
			and price = #{query.price}
		</if>
		<if test="query != null and query.unitPrice != null">
			and unit_price = #{query.unitPrice}
		</if>
		<if test="query != null and query.priceB != null">
			and price_b = #{query.priceB}
		</if>
		<if test="query != null and query.unitPriceB != null">
			and unit_price_b = #{query.unitPriceB}
		</if>
		<if test="query != null and query.priceC != null">
			and price_c = #{query.priceC}
		</if>
		<if test="query != null and query.unitPriceC != null">
			and unit_price_c = #{query.unitPriceC}
		</if>
		<if test="query != null and query.address != null and query.address != ''">
			and address like concat('%', #{query.address}, '%')
		</if>
		<if test="query != null and query.description != null and query.description != ''">
			and description like concat('%', #{query.description}, '%')
		</if>
		<if test="query != null and query.createTimeStart != null and query.createTimeEnd == null">
			and create_time <![CDATA[ >= ]]> #{query.createTimeStart}
		</if>
		<if test="query != null and query.createTimeStart == null and query.createTimeEnd != null">
			and create_time <![CDATA[ <= ]]> #{query.createTimeEnd}
		</if>
		<if test="query != null and query.createTimeStart != null and query.createTimeEnd != null">
			and create_time <![CDATA[ >= ]]> #{query.createTimeStart} and create_time <![CDATA[ <= ]]> #{query.createTimeEnd}
		</if>
		<if test="query != null and query.updateTimeStart != null and query.updateTimeEnd == null">
			and update_time <![CDATA[ >= ]]> #{query.updateTimeStart}
		</if>
		<if test="query != null and query.updateTimeStart == null and query.updateTimeEnd != null">
			and update_time <![CDATA[ <= ]]> #{query.updateTimeEnd}
		</if>
		<if test="query != null and query.updateTimeStart != null and query.updateTimeEnd != null">
			and update_time <![CDATA[ >= ]]> #{query.updateTimeStart} and update_time <![CDATA[ <= ]]> #{query.updateTimeEnd}
		</if>
		
    </sql>

    <select id="getById" parameterType="long" resultType="ticketItemDO">
        select
        <include refid="select_columns"/>
        from t_ticket_item where id = #{id}
    </select>

    <select id="listAll" resultType="ticketItemDO">
        select
        <include refid="select_columns"/>
        from t_ticket_item
        order by update_time desc, create_time desc
    </select>

    <select id="listPage" parameterType="top.zywork.query.PageQuery" resultType="ticketItemDO">
        select
        <include refid="select_columns"/>
        from t_ticket_item
        order by
        <if test="sort != null and sort != ''">
            ${sort} ${order}
        </if>
        <if test="sort == null or sort == ''">
            update_time desc, create_time desc
        </if>
        limit #{beginIndex}, #{pageSize}
    </select>

    <select id="count" resultType="long">
        select count(*) from t_ticket_item
    </select>

    <select id="listPageByCondition" resultType="ticketItemDO">
        select
        <include refid="select_columns"/>
        from t_ticket_item
        <where>
            <include refid="query_where_clause"/>
        </where>
        order by
        <if test="pager.sort != null and pager.sort != ''">
            ${pager.sort} ${pager.order}
        </if>
        <if test="pager.sort == null or pager.sort == ''">
            update_time desc, create_time desc
        </if>
        limit #{pager.beginIndex}, #{pager.pageSize}
    </select>

    <select id="countByCondition" resultType="long">
        select count(*) from t_ticket_item
        <where>
            <include refid="query_where_clause"/>
        </where>
    </select>

</mapper>
